@import url("./animation.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; /* WebKit  */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Variaveis no Css */

  --background-color: #1e1e1e;
  --background-section: #2d3436;
  --button-color: #74b9ff;
  font-size: 62.5%; /* tamanho da font calculado em 10px */
}

body {
  color: #fff;
  width: 100vw;
  height: 100vh;

  background-image: url("../img/bg-dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  font-size: 1.6rem; /* calculo das fonts */
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.welcome {
  margin: 10rem auto;
  background-color: var(--background-color);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
  height: 50rem;
}

.title {
  font-weight: 900;
  font-size: 5.8rem;
  letter-spacing: 8px;
}
div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;
}
label {
  font-size: 2.4rem;
}

input {
  margin-top: 1rem;
  padding: 12px 24px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--background-color);
  border: 1px solid var(--button-color);
  color: #f1f1f1;
}
input:focus {
  outline: none;
}

button {
  width: 100%;
  margin: 2rem;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid transparent;
  color: var(--background-color);
  background-color: var(--button-color);
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
