* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; /* WebKit  */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Variáveis no Css */

  --background-color: #1e1e1e;
  --background-section: #2d3436;
  --button-color: #74b9ff;
  --color-font: #ffff;
  font-size: 62.5%; /* tamanho da font calculado em 10px */
}

body {
  color: var(--color-font);
  background-image: url("../public/img/bg-dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

aside {
  min-height: 100%;
  padding: 3rem 2rem;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-section);

  opacity: 0.2;

  /* border: 1px solid var(--button-color); */
}

main aside button > .logo {
  width: 4.7rem;
  height: 4.7rem;
  margin-bottom: 30px !important;
  opacity: 1;
}

main aside button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 2rem 2rem;
  transition: 2ms all;
}

main aside .link:hover {
  background-color: var(--background-color);
  border-radius: 8px;
}
main .nav-bar .link img {
  width: 3rem;
  height: 3rem;
}
/* estilo do Header */
main header {
  display: flex;
  width: 100%;
  height: 10rem;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
}

main header .information {
  display: flex;
  font-size: 2rem;
  gap: 2px;
}
main header .information img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

main header .information div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main header .information div p {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

main header input {
  width: 30rem;
  height: 5.4rem;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--button-color);
  color: var(--color-font);
  font-weight: bold;
  padding: 1rem;
}

main header span {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
}
